* {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-viol: #21194D;
    --color-fiol: #646DA9;
    --color-rose: #940290;
    --color-rose-20: #4E1B69;
    --color-cian: #10EACC;
    --color-black: #010107;

    --size-car: calc(100px + 400 * (100vw / 1924));
}

a {
    cursor: pointer;
}

.nav_wrap {
    min-height: 100px;
    background-color: var(--color-viol);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 50px 20px 50px;
}

.nav .menu {
    display: none;
    width: 40px;
    height: 40px;
    background-image: url(IMG/menu.svg);
}

.nav_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 0;
}

.nav_text div {
    font-size: 1.2rem;
    color: white;
    margin: auto 20px;
}

.nav_text div:hover,
.nav_tel:hover {
    transform: scale(1.1);
}

.nav_bac {
    display: none;
}

.nav_tel {
    font-family: "Oswald";
    font-size: 2rem;
    margin: auto 0;
    color: var(--color-cian);
}

.lin {
    height: 1px;
    margin: 0 20px;
    background-color: white;
    opacity: 0.5;
}

.background {
    min-height: calc(100vh - 100px);
    background: linear-gradient(var(--color-viol), var(--color-black));
}

.circle1 {
    min-height: calc(100vh - 100px);
    background-position: bottom left;
    background-image: url(IMG/Ellipse%201.svg);
    background-repeat: no-repeat;
}

.circle2 {
    min-height: calc(100vh - 100px);
    background-position: right top;
    background-image: url(IMG/Ellipse%202.svg);
    background-repeat: no-repeat;
}

.header {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    grid-gap: 50px;
    width: 100%;
}

.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    pointer-events: none;
}

.items {
    display: flex;
    counter-reset: item;
    grid-gap: 50px;
    justify-content: space-around;
    min-width: 100%;
}

.item {
    flex: 0 0 auto;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    font-size: 2.8rem;
    color: var(--color-rose-20);
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.marquee {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 50px));
    }
}

.main {
    width: 100%;
    margin: 0 100px;
}

.home {
    min-height: calc(100vh - 300px);
    display: flex;
    justify-content: space-around;
}

.home h1 {
    font-family: "Oswald";
    margin-top: 30px;
    font-size: calc(24px + 72 * (100vw / 1924));
    color: white;
}

.home h2 {
    margin-top: 15px;
    font-weight: 100;
    font-size: calc(20px + 12 * (100vw / 1924));
    color: white;
}

.home p {
    margin-top: 40px;
    width: 450px;
    font-size: calc(16px + 4 * (100vw / 1924));
    color: var(--color-fiol);
}

.home .button {
    margin: 50px 0 20px 0;
    display: inline-block;
    padding: 15px 30px;
    font-family: "Oswald";
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-cian);
}

.home .button:hover {
    box-shadow: 0 0 15px rgba(10, 237, 207, 0.4);
    transform: scale(1.1);
}

.avto {
    width: calc(var(--size-car) + 100px + 18px);
    height: var(--size-car);
    margin-top: auto;
}

.auto_img {
    position: absolute;
    width: calc(var(--size-car) + 100px);
    height: var(--size-car);
    padding-top: 10px;
    background-image: url(IMG/auto.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.avto .ramka {
    width: var(--size-car);
    height: var(--size-car);
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 18px solid var(--color-rose-20);
}

.social {
    margin: auto 0;
    margin-right: 50px;
}

.soc {
    width: 40px;
    height: 40px;
    margin: 40px 0;
}

.soc:hover {
    transform: scale(1.3);
}


.interval {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#inter1 {
    background-image: url(IMG/b1.png);
}

#inter2 {
    background-image: url(IMG/b2.png);
}

.autos {
    min-height: 100vh;
    background: linear-gradient(var(--color-viol), var(--color-black));
}

.auto_wrap {
    display: flex;
}

.filters {
    max-width: 40%;
    min-width: inherit;
    color: white;
    box-sizing: border-box;
    background-color: rgba(13, 10, 33, 0.2);
    padding-bottom: 70px;
}

.filters h3 {
    font-family: "Oswald";
    font-size: 2rem;
    margin: 70px 50px 10px 50px;
}

.filter {
    margin-top: 30px;
}

.filter .lin {
    margin: 0;
    height: 2px;
}

.title {
    display: flex;
    margin: 20px 50px;
}

.title .img {
    width: 24px;
    height: 24px;
}

.title p {
    height: 20px;
    font-size: 1.3rem;
    margin-top: auto;
    margin-left: 10px;
}

.inputs {
    display: flex;
    margin: 0 50px;
}

.input p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.inputs .input:last-child {
    margin-left: 20px;
}

input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.input input[type='date'] {
    width: 180px;
    font-size: 1.3rem;
    color: white;
    padding: 7px 5px;
    border-radius: 5px;
    border: 2px solid var(--color-fiol);
    background: transparent;
}

.date-container {
    position: relative;
    float: left;
}

.open-button {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 18px;
    height: 18px;
    pointer-events: none;
    background-image: url(IMG/calendar.svg);
    background-size: cover;
}

.input select {
    font-size: 1rem;
    color: white;
    padding: 10px 8px;
    border-radius: 5px;
    border: 2px solid var(--color-fiol);
    background: transparent;
}

.input option {
    background-color: var(--color-viol);
    font-size: 1rem;
}

.checks {
    width: 100%;
}

.check {
    margin-bottom: 20px;
}

.check .title_ch {
    margin-bottom: 5px;
}

.check .text_ch {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 10px;
}

.check input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    border: 2px solid var(--color-fiol);
    border-radius: 5px;
}

.check .check_wrap {
    display: flex;
    max-width: 350px;
    width: 100%;
}

.check .check_wrap_1,
.check .check_wrap_2 {
    width: calc(100% /2);
}

.button_filter {
    display: none;
}

.objects_wrap {
    width: 100%;
    margin-left: 30px;
    padding: 70px 50px;
    /*    background-color: aqua;*/
}

.sort label {
    color: white;
    font-size: 1.4rem;
}

.sort select {
    color: white;
    font-size: 1.4rem;
    background: transparent;
    border: 0px solid #FFF;
}

.sort select:focus,
.sort select:active {
    border: 0px solid #FFF;
}

.sort option {
    color: white;
    background-color: var(--color-viol);
    font-size: 1.2rem;
}

.objects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*    background-color: red;*/
    padding-top: 40px;
}

.object {
    margin-bottom: 40px;
    width: 370px;
    min-height: inherit;
    padding: 30px;
    border-radius: 25px;
    border: 4px solid var(--color-fiol);
    background: linear-gradient(var(--color-viol), var(--color-black));
}

.object .img {
    height: 180px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    border: 2px solid var(--color-fiol);
    background: linear-gradient(var(--color-viol), var(--color-black));
}

.object .img img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
}

.object h4 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--color-cian), var(--color-rose));
}

.object .info {
    user-select: none;

}

.object .info .inf {
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--color-fiol);
    font-size: 1rem;
}

.object .info .inf .i {
    margin-left: 2px;
    font-size: 1rem;
    font-weight: bold;
}

.object .info .price p {
    color: var(--color-fiol);
    font-size: 1rem;
}

.object .info .price p .i {
    margin-left: 3px;
    font-size: 1.2rem;
    font-weight: bold;
}

.object .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.object .button1,
.object .button2 {
    font-size: 1rem;
    padding: 10px 14px;
    border: 2px solid var(--color-cian);
    border-radius: 5px;
}

.object .button1 {
    color: var(--color-cian);
}

.object .button2 {
    font-weight: bold;
    color: var(--color-black);
    background-color: var(--color-cian);
}

.object .button1:hover,
.object .button2:hover {
    box-shadow: 0 0 15px rgba(10, 237, 207, 0.2);
}

.objects_wrap .nav_auto {
    display: flex;
    place-content: center;
    grid-gap: 20px;
}

.objects_wrap .nav_auto .num_auto {
    /*
    width: 40px;
    height: 40px;
    text-align: center;
    align-content: center;
*/
    padding: 7px 13px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px solid var(--color-fiol);
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
}

.color_auto_A {
    color: white;
    background-color: var(--color-fiol);
}

.color_auto {
    color: var(--color-fiol);
    background-color: none;
}

#promotion h1 {
    font-size: 3rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--color-cian), var(--color-rose));
}

#promotion,
#promotion .circle1,
#promotion .circle2,
#promotion .header {
    min-height: 700px;
    height: 700px;
}

#promotion .home {
    min-height: 500px;
    height: 500px;
    align-content: center;
}

#promotion .main {
    margin: auto 0;
}

#promotion .auto_img {
    background-image: url(BD/IMG/3.webp);
    transform: scaleX(-1);
    margin-left: 10px;
    margin-top: 20px;
    background-position: center;
}

#promotion .ramka {
    margin-left: 0;
}

#promotion .items-wrap {
    height: 90%;
}

#promotion .home {
    justify-content: center;
}

#promotion .text {
    align-content: center;
    margin-left: 100px;
}

.reviews_wrap {
    padding: 100px 30px 150px 30px;
    text-align: center;
    background-color: var(--color-black);
}

.reviews_wrap .title {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--color-cian), var(--color-rose));
}

.reviews_wrap .reviews_items_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 20px;
}

.reviews_wrap .review {
    max-width: 20%;
    min-width: 350px;
    padding: 30px;
    text-align: start;
    color: white;
    border: 3px solid var(--color-fiol);
    border-radius: 5px;
    background-color: rgba(120, 131, 202, 0.1);
}

.reviews_wrap .review h4 {
    font-family: "Oswald";
    font-size: 1.4rem;
}

.reviews_wrap .review .grade {
    display: flex;
    margin-bottom: 10px;
}

.reviews_wrap .review .grade img {
    width: 20px;
    height: 30px;
}

.reviews_wrap .review .comment {
    color: var(--color-fiol);
}

.social_wrap {
    padding: 50px 0;
    text-align: center;
    border-top: 5px solid var(--color-viol);
    border-bottom: 5px solid var(--color-viol);
    background-color: var(--color-black);
}

.social_inblock {
    display: inline-block;
}

.social_wrap .social_bac {
    background-image: linear-gradient(to right, var(--color-cian), var(--color-rose));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
}

.social_wrap .social_bac p {
    font-size: 4rem;
    margin: 0 30px;
}

footer {
    padding: 50px;
    padding-top: 100px;
    color: var(--color-fiol);
    background-color: var(--color-black);
}

.footer_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 20px;
}

.footer_glav,
.footer_text {
    max-width: 24%;
    min-width: 200px;
}

.footer_glav p {
    font-family: "Oswald";
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_text p {
    margin-bottom: 10px;
}

footer .lin {
    margin: 10px 0 20px 0;
    height: 2px;
    background-color: var(--color-fiol);
}

@media (max-width: 1400px) {

    * {
        font-size: 14px;
    }

    .item {
        font-size: calc(24px + 18 * (100vw / 1400));
    }

    .header {
        flex-wrap: wrap;
    }

    .social {
        display: flex;
        margin: 0 auto;
    }

    .soc {
        margin: 0 20px;
    }

    .filters {
        max-width: 25%;
    }

    .filters .title {
        margin-right: 0;
    }

    .main {
        margin: 50px 0;
    }

    .home {
        min-height: inherit;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .home h1 {
        margin-top: 0;
    }

    .avto {
        margin: auto 0;
    }

    .inputs {
        display: inline-block;
    }

    .inputs .input:last-child {
        margin: 0;
        margin-top: 20px;
    }

    .input input[type='date'] {
        width: 164px;
    }

    .check .check_wrap {
        display: block;
    }

    .check .check_wrap_1,
    .check .check_wrap_2 {
        width: 100%;
    }

    #in_1 {
        margin-top: 70px;
    }

    .objects_wrap {
        padding: 70px 30px;
    }

    .objects_wrap .object {
        width: 285px;
        padding: 20px;
    }

    #inter1 {
        background-image: url(IMG/b1Mob.png);
    }

    #inter2 {
        background-image: url(IMG/b2Mob.png);
    }

    #promotion .items-wrap {
        height: auto;
    }

    #promotion .home {
        justify-content: space-around;
    }

    #promotion .text {
        margin-left: 0;
    }
}

@media (min-width: 1400px) {
    .nav {
        justify-content: space-between;
    }

    .items-wrap {
        width: 4.3rem;
        margin-left: 50px;
        height: 75%;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
    }

    .item:last-child {
        display: none;
    }

    .item {
        display: block;
        height: 650px;
    }

    .marquee {
        animation: scroll 5s linear infinite;
    }

    @keyframes scroll {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(calc(-100% - 50px));
        }
    }
}

@media (max-width: 950px) {
    .nav .nav_tel {
        margin-top: 10px;
    }

    .item {
        font-size: calc(20px + 10 * (100vw / 950));
    }

    .home {
        display: block;
        flex-wrap: nowrap;
        text-align: center;
    }

    .home h1 {
        font-size: calc(32px + 32 * (100vw / 950));
    }

    .home h2 {
        font-size: calc(20px + 4 * (100vw / 950));
    }

    .home p {
        margin: 30px auto;
        margin-bottom: 0;
        width: 550px;
        font-size: calc(16px + 4 * (100vw / 950));
    }

    .avto {
        display: none;
    }

    .objects_wrap .object {
        width: 370px;
        padding: 20px;
    }

    .filters {
        max-width: 40%;
    }

}

@media (max-width: 750px) {

    .nav {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav .menu {
        display: block;
    }

    .nav_text {
        display: none;
    }

    .nav .menu._active {
        background-image: url(IMG/close.svg);
    }

    .nav_text._active {
        display: block;
        position: absolute;
        margin-top: 60px;
        padding-top: 40px;
        padding-left: 20px;
        left: 0;
        height: calc(100% - 90px);
        z-index: 5;
    }

    .nav_bac._active {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 60px;
        padding-top: 40px;
        padding-left: 20px;
        left: 0;
        z-index: 3;
        background-color: rgba(1, 1, 7, 0.98);
    }

    .nav_text._active div {
        font-size: 1.6rem;
        margin: 0;
        margin-bottom: 25px;
    }

    .lin._active {
        display: none;
    }

    body._active {
        overflow: hidden;
    }

    .nav .nav_tel {
        margin-top: 0;
    }

    .item {
        font-size: calc(24px + 12 * (100vw / 720));
    }

    .item:last-child {
        display: none;
    }

    .marquee {
        animation: scroll 5s linear infinite;
    }

    .home p {
        margin: 30px auto;
        width: auto;
        padding: 0 50px;
    }

    .button {
        margin: 15px 0 30px 0;
        font-size: 1.5rem;
        box-shadow: 0 0 15px rgba(10, 237, 207, 0.4);
    }

    .ramka {
        margin: 0 auto;
        margin-top: 30px;
    }

    .auto_wrap {
        display: block;
    }

    .auto_wrap .blur,
    .auto_wrap .filter_wrap {
        display: none;
    }

    .auto_wrap .filters {
        display: flex;
        max-width: 100%;
        padding: 30px;
    }

    .auto_wrap .filters h3 {
        margin: 0;
        margin-left: 20px;
    }

    .auto_wrap .filters .icon {
        width: 40px;
        height: 40px;
        background-image: url(IMG/menu.svg);
    }

    .auto_wrap .filter_wrap._activeAuto {
        display: block;
        position: absolute;
        left: 0;
        margin-top: 70px;
        width: 100%;
        height: 100vh;
        padding-bottom: 170px;
        background-color: rgba(1, 1, 7, 0.98);
        overflow-y: scroll;
    }

    .auto_wrap .filter_wrap._activeAuto .checkbox_auto,
    .auto_wrap .filter_wrap._activeAuto #ch {
        width: 25px;
        height: 25px;
    }

    .auto_wrap .filter_wrap._activeAuto .text_ch {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 12px;
    }

    .auto_wrap .filter_wrap._activeAuto .input input[type='date'] {
        width: 174px;
        padding: 10px 5px;
    }


    .auto_wrap .filter_wrap._activeAuto .open-button {
        opacity: 0;
    }

    .auto_wrap .filter_wrap._activeAuto .input input[type='date']::-webkit-calendar-picker-indicator {
        opacity: 1;
    }


    .auto_wrap .filter_wrap._activeAuto .input select {
        font-size: 1.1rem;
        padding: 10px 5px;
    }

    .button_filter._activeAuto {
        position: fixed;
        display: block;
        width: 150px;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        font-family: "Oswald";
        font-size: 1.3rem;
        color: var(--color-black);
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 15px;
        border-radius: 5px;
        background-color: var(--color-cian);
    }

    body._activeAuto {
        overflow: hidden;
    }

    .filters .icon._activeAuto {
        background-image: url(IMG/close.svg);
    }

    .auto_wrap .objects_wrap {
        margin: 0;
        padding: 30px;
    }

    .objects_wrap .object {
        width: 300px;
        padding: 20px;
    }

}

@media (max-width: 480px) {
    * {
        font-size: 14px;
    }

    .home p {
        padding: 0;
    }

    .auto_wrap .filters {
        padding: 20px;
    }

    .auto_wrap .objects_wrap {
        padding: 20px;
    }

    .objects_wrap .object {
        width: 90%;
    }

    .reviews_wrap .review {
        min-width: 300px;
    }

    .social_wrap .social_bac p {
        font-size: 3rem;
        margin: 0 15px;
    }
}

@media (max-width: 350px) {

    .object .button1,
    .object .button2 {
        font-size: 0.85rem;
    }
    
    .reviews_wrap .review {
        min-width: 250px;
    }
}
