* {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;
}

:root {
    --color-viol: #21194D;
    --color-fiol: #645F83;
    --color-rose: #940290;
    --color-rose-20: #451B66;
    --color-cian: #10EACC;
    --color-black: #010107;
}

.nav_wrap {
    background-color: var(--color-viol);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 50px 20px 50px;
}

.nav .menu {
    display: none;
    width: 40px;
    height: 40px;
    background-image: url(IMG/menu.svg);
}

.nav_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 0;
}

.nav_text div {
    font-size: 1.2rem;
    color: white;
    margin: auto 20px;
}

.nav_text div:hover,
.nav_tel:hover {
    transform: scale(1.1);
}

.nav_tel {
    font-size: 2rem;
    margin: auto 0;
    color: var(--color-cian);
}

.nav_wrap .lin {
    height: 1px;
    margin: 0 20px;
    background-color: white;
    opacity: 0.5;
}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(var(--color-viol), var(--color-black));
    padding: 50px 0;
}


.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    grid-gap: 50px;
    width: 100%;
}

.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    pointer-events: none;
}

.items {
    display: flex;
    counter-reset: item;
    grid-gap: 50px;
    justify-content: space-around;
    min-width: 100%;
}

.item {
    flex: 0 0 auto;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--color-rose-20);
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.marquee {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 50px));
    }
}

.main {
    width: 100%;
    margin: 0 100px;
}

.home {
    display: flex;
    justify-content: space-around;
}

.home h1 {
    font-size: 5rem;
    color: white;
}

.home h3 {
    margin-top: 5px;
    font-size: 1.2rem;
    color: white;
}

.home p {
    margin-top: 30px;
    width: 480px;
    font-size: 1rem;
    color: var(--color-fiol);
}

.button {
    margin: 50px 0 20px 0;
    display: inline-block;
    padding: 15px 30px;
    color: var(--color-black);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-cian);
}

.button:hover {
    box-shadow: 0 0 15px rgba(10, 237, 207, 0.4);
    transform: scale(1.1);
}

.avto {
    width: calc(20vw + 10vw + 10px);
    height: 20vw;
    margin: auto 0;
}

.auto_img {
    position: absolute;
    width: calc(20vw + 10vw);
    height: 20vw;
    padding-top: 10px;
    background-image: url(IMG/auto.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.avto .ramka {
    width: 20vw;
    height: 20vw;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 10px solid var(--color-rose-20);
}

.social {
    margin: auto 0;
    margin-right: 50px;
}

.soc {
    width: 40px;
    height: 40px;
    margin: 40px 0;
}

.soc:hover {
    transform: scale(1.3);
}

@media (max-width: 1300px) {

    * {
        font-size: 14px;
    }

    .header {
        flex-wrap: wrap;
    }

    .social {
        display: flex;
        margin: 0 auto;
    }

    .soc {
        margin: 0 20px;
    }

    .main {
        margin: 50px 0;
    }

    .home {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .avto {
        width: calc(30vw + 10vw + 10px);
        height: 30vw;
    }

    .auto_img {
        position: absolute;
        width: calc(30vw + 10vw);
        height: 30vw;
    }

    .avto .ramka {
        width: 30vw;
        height: 30vw;
    }

}

@media (min-width: 1300px) {
    .nav {
        justify-content: space-between;
    }

    .items-wrap {
        width: 3rem;
        margin-left: 50px;
        height: 45%;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
    }

    .item:last-child {
        display: none;
    }

    .item {
        display: block;
        height: 420px;
    }

    .marquee {
        animation: scroll 5s linear infinite;
    }

    @keyframes scroll {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(calc(-100% - 50px));
        }
    }
}

@media (max-width: 920px) {
    .nav .nav_tel {
        margin-top: 10px;
    }
    
    .home {
        display: block;
        flex-wrap: nowrap;
        text-align: center;
    }
    
    .home p {
        font-size: 1.2rem;
        margin: 30px auto;
        margin-bottom: 0;
        width: 550px;
    }
    
    .avto {
        display: none;
    }
}

@media (max-width: 720px) {
    .nav {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav .menu {
        display: block;
    }

    .nav_text {
        display: none;
    }
    
    .nav .nav_tel {
        margin-top: 3px;
    }
    
    .nav .nav_tel  a{
    
    }

    .item:last-child {
        display: none;
    }

    .marquee {
        animation: scroll 5s linear infinite;
    }

    .home h3 {
        font-size: 1.5rem;
    }
    
    .home p {
        font-size: 1.4rem;
        margin: 30px auto;
        width: auto;
        padding: 0 10px;
    }

    .button {
        margin: 15px 0 30px 0;
        font-size: 1.3rem;
        box-shadow: 0 0 15px rgba(10, 237, 207, 0.4);
    }

    .ramka {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 10px;
    }
}

@media (max-width: 320px) {}
